* {
  box-sizing: border-box;
}

:root {
  --background-body: #f5f5dc;
  --background-container: #665f55;
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --border-dark: #665f55;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background-body);
  padding: 20px;
  font-family: 'Inter', sans-serif;
}

.game-wrapper {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}

.menu,
.game {
  padding: 10px;
  min-width: 280px;
}

.menu {
  background-color: lightblue;
  border-radius: 20px;
  user-select: none;
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  min-height: 30px;
  min-width: 70px;
  background-color: var(--background-body);
  text-transform: uppercase;
  border: 1px solid var(--background-body);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.7s;
}

.button:hover {
  border-color: red;
}

.button.active {
  cursor: auto;
  background-color: lightgreen;
  border-color: lightgreen;
}

.game {
  min-width: 480px;
  max-width: 600px;
  min-height: 480px;
  max-height: 600px;
  padding: 0;
  display: grid;
  background-color: aquamarine;
  border-radius: 20px;
  grid-template-columns: auto repeat(5, 70px);
  grid-template-rows: auto repeat(5, 70px);
  user-select: none;
}

.cell {
  background-color: #ffffff;
  border: 1px solid var(--border-dark);
}

.top-clue {
  min-width: 30px;
  min-height: 30px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.left-clue {
  min-width: 30px;
  min-height: 30px;
  border-right: 2px solid black;
  display: flex;
  justify-content: end;
  gap: 5px;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 5px;
}

.valid {
}

.mark {
  background-color: #000000;
  border-color: #000000;
}
