* {
  box-sizing: border-box;
}

:root {
  --background-body: #f5f5dc;
  --background-container: #665f55;
  --background-secondary: #add8e6;
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --border-dark: #665f55;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background-body);
  padding: 10px;
  font-family: 'Inter', sans-serif;
}

.game-wrapper {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.main-heading {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
  font-size: 20px;
}

.menu,
.game {
  padding: 10px;
  min-width: 280px;
}

.menu {
  background-color: var(--background-secondary);
  border-radius: 20px;
  user-select: none;
}

.button-section,
.difficulty-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px 10px;
  max-width: 600px;
}

.button-section {
  max-width: 480px;
}

.difficulty-section {
  margin-bottom: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  min-height: 30px;
  min-width: 70px;
  background-color: var(--background-body);
  text-transform: uppercase;
  border: 1px solid var(--background-body);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.7s;
}

.button-game-select:hover,
.button-level:hover {
  border-color: red;
}

.button-game-select.active,
.button-level.active {
  cursor: auto;
  background-color: lightgreen;
  border-color: lightgreen;
}

.button-options:hover {
  background-color: lightgreen;
  border-color: lightgreen;
}

.button-options.active {
  background-color: lightgreen;
  border-color: lightgreen;
}

.time-pane {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  border-radius: 10px;
  gap: 10px;
  padding: 5px;
  font-size: 20px;
  background-color: var(--background-secondary);
}

.time {
  color: #2e0cc5;
}

.game {
  max-width: 600px;
  max-height: 600px;
  padding: 10px;
  display: grid;
  background-color: var(--background-secondary);
  border-radius: 20px;
  grid-template-columns: auto repeat(5, 50px);
  grid-template-rows: auto repeat(5, 50px);
  user-select: none;
}

.grid-small {
  grid-template-columns: auto repeat(5, 50px);
  grid-template-rows: auto repeat(5, 50px);
}

.grid-medium {
  grid-template-columns: auto repeat(10, 30px);
  grid-template-rows: auto repeat(10, 30px);
}

.grid-large {
  grid-template-columns: auto repeat(15, 20px);
  grid-template-rows: auto repeat(15, 20px);
}

.cell {
  background-color: #ffffff;
  border: 1px solid var(--border-dark);
}

.top-clue {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.grid-small .top-clue {
  min-width: 50px;
  min-height: 50px;
}

.grid-medium .top-clue {
  min-width: 30px;
  min-height: 30px;
}

.grid-large .top-clue {
  min-width: 20px;
  min-height: 20px;
}

.left-clue {
  min-width: 50px;
  min-height: 50px;
  border-right: 2px solid black;
  display: flex;
  justify-content: end;
  gap: 5px;
}

.grid-small .left-clue {
  min-width: 50px;
  min-height: 50px;
}

.grid-medium .left-clue {
  min-width: 30px;
  min-height: 30px;
}

.grid-large .left-clue {
  min-width: 20px;
  min-height: 20px;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 5px;
}

.grid-small .clue {
  font-size: 20px;
  padding: 5px;
}

.grid-medium .clue {
  font-size: 16px;
  padding: 5px;
}

.grid-large .clue {
  font-size: 14px;
  padding: 2px;
}

.valid {
}

.solution {
  background-color: #000000;
  border-color: #000000;
}

.mark {
  background-color: #000000;
  border-color: #000000;
}

.empty-cell {
  background-image: url(./img/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Popup styles start */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-dark);
  opacity: 0;
  visibility: hidden;
  user-select: none;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font: 25px 'Inter', sans-serif;
}

.popup__content {
  box-sizing: border-box;
  width: 300px;
  min-height: 300px;
  padding: 10px;
  background-color: var(--background-body);
  position: relative;
  opacity: 0;
  transform: translate(0px, -100%);
  transition: all 0.8s;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.popup__result {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.popup__answer {
  text-align: center;
}

.popup.open .popup__content {
  opacity: 1;
  transform: translate(0px, 0px);
}

.popup__buttons {
  display: flex;
  justify-content: space-evenly;
}

.popup__button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-dark);
  border-radius: 10px;
  transition: all 0.7s ease-out;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 150%;
  color: var(--text-dark);
}

.popup__button span {
  color: var(--text-dark);
  transition: all 0.7s ease-out;
}

@media (hover: hover) {
  .popup__button:hover {
    cursor: pointer;
  }

  .popup__button:hover {
    background-color: var(--background-container);
    cursor: pointer;
  }

  .popup__button:hover span {
    color: var(--text-light);
  }
}
/* Popup styles end */
