html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --border-dark: #665f55;
  --border-light: #c1b6ad;
}

html {
  scroll-behavior: smooth;
}

/* Page styles start */
.body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  font-weight: normal;
  color: var(--text-dark);
  background-color: var(--background-body);
}

body.lock {
  overflow: hidden;
}

.body__wrapper {
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.section-heading {
  margin: 0 0 40px;
  font-family: 'Inter';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark);
}

.section-heading span {
  color: var(--text-accent);
  font-style: italic;
}

@media (max-width: 600px) {
  .content-wrapper {
    padding-left: 4.21vw;
    padding-right: 4.21vw;
  }
}

@media (min-width: 601px) {
  .content-wrapper {
    padding-left: min(40px, 5.2vw);
    padding-right: min(40px, 5.2vw);
  }
}

@media (max-width: 767px) {
  .section-heading {
    font-size: min(8.42vw, 60px);
  }
}
/* Page styles end */

/* header styles start */
.header {
  padding-top: 19px;
  background-color: var(--background-body);
  font-weight: 600;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  overflow: hidden;
  max-height: 60px;
}

.header__nav-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding-left: 0px;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-item:last-child {
  display: none;
}

.header__nav-link,
.menu-button,
.menu-button-burger {
  font-family: 'Inter';
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 600;
  line-height: 150%;
  position: relative;
}

.menu-link-wrapper {
  position: relative;
}

.coffee-cup {
  position: absolute;
  top: 3px;
  right: -1px;
}

.menu-button {
  display: inline-block;
  padding-right: 28px;
  line-height: 32px;
  position: relative;
}

.header__nav-link::after,
.menu-button::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  display: inline-block;
  border-top: 2px solid var(--text-dark);
  transition: all 0.5s ease-out;
  pointer-events: none;
}

.header__nav-link::after {
  scale: 0;
}

.header__nav-link::after {
  bottom: -6px;
}

.menu-button::after {
  bottom: 1px;
}

.header__burger-menu {
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  display: none;
}

.header__burger-menu > span {
  width: 18px;
  height: 2px;
  position: absolute;
  background-color: var(--border-dark);
  transition: all 0.5s ease-out;
}

.header__burger-line-first {
  top: 37%;
  left: 12px;
}

.header__burger-line-second {
  bottom: 37%;
  left: 12px;
}

.header__burger-line-middle,
.header__burger-line-middle-2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s rotate 0.5s;
}

.open .header__burger-line-middle {
  opacity: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.open .header__burger-line-middle-2 {
  opacity: 100%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.open .header__burger-line-first,
.open .header__burger-line-second {
  opacity: 0;
}

@media (any-hover: hover) {
  .header__nav-item:hover > .header__nav-link::after {
    scale: 1;
  }
}

@media (max-width: 768px) {
  .header__nav-list {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    padding: 60px 40px;
    font-size: 32px;
    line-height: 125%;
    background-color: var(--background-body);
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .header__nav-list.open-nav {
    transform: translateX(0);
  }

  .header__nav-item {
    height: 40px;
  }

  .header__nav-item:last-child {
    display: block;
    margin-top: 40px;
    padding-left: 28px;
  }

  .link-burger {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .coffee-cup-burger {
    width: 40px;
    height: 40px;
  }

  .menu-link-wrapper {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }
}

@media (any-hover: hover) {
  .header__burger-menu:hover {
    cursor: pointer;
  }
}
/* Header styles end */

/* Offer section styles start */
.offer {
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: var(--background-body);
}

.main-heading {
  margin: 0 auto 40px;
  max-width: 800px;
  text-align: center;
  color: var(--text-dark);
  font-family: 'Inter';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.main-heading > span {
  color: var(--text-accent);
  font-style: italic;
}

.offer-tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.tab {
  padding: 8px 16px 7px 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  transition: all 0.5s ease-out;
  overflow: hidden;
  color: var(--text-dark);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

#coffee {
  min-width: 116px;
}

#tea {
  min-width: 90px;
}

#dessert {
  min-width: 124px;
}

.tab.active-tab {
  background-color: var(--background-container);
  color: var(--text-light);
}

.tab-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-right: 11px;
}

.tab-icon-container {
  height: 30px;
  flex-basis: 30px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--border-light);
  transition: all 0.5s ease-out;
}

.tab.active-tab .tab-icon-container {
  background-color: var(--background-body);
}

.tab-text {
  margin: 0;
}

@media (any-hover: hover) {
  .tab:hover {
    background-color: var(--background-container);
    color: var(--text-light);
    cursor: pointer;
  }

  .tab:hover .tab-icon-container {
    background-color: var(--background-body);
  }
}

.cards-container {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  grid-row-gap: 40px;
  grid-column-gap: min(40px, calc(40px - (1440px - 100vw) / 3));
}

.card-item {
  width: 310px;
  border-radius: 40px;
  border: 1px solid var(--border-light);
}

.image-container {
  width: 100%;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  scale: 1.1;
  transition: all 0.5s ease-out;
}

.description-block {
  height: 194px;
  padding: 20px 20px 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--text-dark);
}

.item-name {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.item-description {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.item-price {
  margin-top: auto;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.refresh-block {
  display: none;
}

.refresh-block.visible {
  display: block;
}

.refresh-button {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  transition: all 0.5s ease-out;
}

.refresh-icon {
  stroke: var(--border-dark);
  transition: all 0.5s ease-out;
}

@media (any-hover: hover) {
  .image-item {
    scale: 1.1;
  }

  .card-item:hover .image-item {
    scale: 1;
  }

  .card-item:hover {
    cursor: pointer;
  }

  .refresh-button:hover {
    background-color: var(--background-container);
    cursor: pointer;
  }

  .refresh-button:hover > .refresh-icon {
    stroke: var(--border-light);
  }
}

@media (max-width: 767px) {
  .main-heading {
    font-size: min(8.42vw, 60px);
  }
}

@media (max-width: 1330px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: normal;
  }
}

@media (max-width: 1040px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .cards-container {
    margin-bottom: 40px;
  }

  .item-5,
  .item-6,
  .item-7,
  .item-8 {
    display: none;
  }
}

@media (max-width: 800px) {
  .cards-container {
    justify-content: space-evenly;
    grid-column-gap: 10px;
  }
}

@media (max-width: 720px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 420px) {
  .offer-tabs {
    justify-content: space-between;
    gap: 0;
  }
}
/* Offer section styles end */

/* Footer - Contacts - start */
.footer {
  padding-bottom: 40px;
  background-color: var(--background-body);
}

.contacts-container {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-color: var(--background-container);
}

.social-media-block {
  flex-basis: 530px;
  flex-grow: 0;
}

.footer-heading {
  color: var(--text-light);
}

.social-list {
  margin: 0;
  padding: 0;
}

.social-item {
  display: inline-block;
  list-style-type: none;
}

.social-item + .social-item {
  margin-left: 8px;
}

.social-button {
  display: inline-flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-light);
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.social-icon {
  stroke: var(--border-light);
  transition: all 0.5s ease-in;
}

@media (any-hover: hover) {
  .social-button:hover > .social-icon {
    stroke: var(--border-dark);
  }

  .social-button:hover {
    background-color: var(--background-body);
  }
}

.contacts-block {
  flex-basis: 530px;
}

.contact-us-heading {
  margin: 33px 0 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-light);
}

.conatact-us {
  margin: 0;
  padding: 0;
}

.contact-item:first-child {
  margin-top: 40px;
}

.contact-item {
  width: max-content;
  margin-bottom: 20px;
  list-style-type: none;
}

.contact-link,
.contact-item {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-light);
  text-decoration: none;
}

.contact-link,
.contact-item:last-child {
  padding-left: 28px;
}

.contact-link::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: '';
  width: 100%;
  display: inline-block;
  border-top: 2px solid var(--border-light);
  scale: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
}

@media (any-hover: hover) {
  .contact-link:hover::after {
    scale: 1;
  }
}

.pin::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/svg/pin.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.phone::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/svg/phone.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.clock::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/svg/clock.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .contacts-container {
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  .contacts-container {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .contacts-container {
    gap: 100px;
  }

  .social-media-block {
    flex: 0 1 auto;
  }

  .contacts-block {
    flex: 0 1 auto;
  }

  .contact-us-heading {
    margin-top: 0;
  }

  .contact-item.clock {
    margin-bottom: 4px;
  }
}

@media (min-width: 992px) {
  .contacts-container {
    flex-direction: row;
  }
}

@media (max-width: 1300px) {
  .contacts-container {
    padding-left: min(7.81vw, 100px);
    padding-right: min(7.81vw, 100px);
  }
}

@media (max-width: 640px) {
  .contacts-container {
    padding-top: min(100px, 15.8vw);
    padding-bottom: min(100px, 15.8vw);
    padding-left: 4.21vw;
    padding-right: 4.21vw;
    gap: min(60px, 10.6vw);
  }
}
/* Footer - Contacts - end */

/* Popup styles start */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-dark);
  opacity: 0;
  visibility: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.popup__content {
  box-sizing: border-box;
  min-width: 342px;
  min-height: 504px;
  padding: 16px;
  background-color: var(--background-body);
  position: relative;
  opacity: 0;
  transform: translate(0px, -100%);
  transition: all 0.8s;
  border-radius: 40px;
  display: flex;
  gap: 20px;
}

.popup.open .popup__content {
  opacity: 1;
  transform: translate(0px, 0px);
}

@media (hover: hover) {
  .popup__close-button:hover {
    cursor: pointer;
  }
}

.popup__image-block {
  min-width: 340px;
  align-self: start;
}

.popup__image {
  border-radius: 40px;
}

.popup__content-block {
  max-width: 438px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup__heading {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark);
}

.popup__description {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-dark);
}

.popup__size {
  margin-bottom: 8px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-dark);
}

.popup__size-items,
.popup__add-items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.popup__size-item,
.popup__add-item {
  padding: 8px 16px 8px 8px;
  border: 1px solid var(--border-light);
  border-radius: 100px;
  transition: all 0.7s ease-out;
  cursor: pointer;
}

.popup__size-item-content,
.popup__add-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-dark);
  transition: all 0.7s ease-out;
}

.popup__size-item-letter,
.popup__add-item-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-light);
  min-width: 30px;
  min-height: 30px;
  border-radius: 100px;
  transition: all 0.7s ease-out;
}

.popup__size-item-value,
.popup__add-item-value {
  margin: 0 0 0 8px;
  transition: all 0.7s ease-out;
}

.popup__add {
  margin-bottom: 8px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-dark);
}

.popup__size-item.active-item .popup__size-item-value,
.popup__add-item.active-item .popup__add-item-value {
  color: var(--text-light);
}

.popup__size-item.active-item,
.popup__add-item.active-item {
  background-color: var(--background-container);
}

.popup__size-item.active-item .popup__size-item-letter {
  background-color: var(--background-body);
}

@media (hover: hover) {
  .popup__size-item:hover,
  .popup__add-item:hover {
    background-color: var(--background-container);
  }

  .popup__size-item:hover .popup__size-item-letter,
  .popup__add-item:hover .popup__add-item-letter {
    background-color: var(--background-body);
  }

  .popup__size-item:hover .popup__size-item-value,
  .popup__add-item:hover .popup__add-item-value {
    color: var(--text-light);
  }
}

.popup__price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.popup__alert {
  margin-top: auto;
  padding: 12px 0;
  display: flex;
  gap: 8px;
  border-top: 1px solid var(--border-light);
}

.popup__alert-image {
  align-self: start;
}

.popup__alert-text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: var(--text-dark);
}

.popup__close-button {
  padding: 10px 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  transition: all 0.7s ease-out;
}

.popup__close-button span {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-dark);
  transition: all 0.7s ease-out;
}

@media (any-hover: hover) {
  .popup__close-button:hover {
    background-color: var(--background-container);
    cursor: pointer;
  }

  .popup__close-button:hover span {
    color: var(--text-light);
  }
}

@media (max-width: 687px) {
  .popup__image-block {
    display: none;
  }
}
/* Popup styles end */
