html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --border-dark: #665f55;
  --border-light: #c1b6ad;
}

html {
  scroll-behavior: smooth;
}

/* Page styles start */
.body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  font-weight: normal;
  color: var(--text-dark);
  background-color: var(--background-body);
}

.content-wrapper {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.section-heading {
  margin: 0 0 40px;
  font-family: 'Inter';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark);
}

.section-heading span {
  color: var(--text-accent);
  font-style: italic;
}


@media(max-width: 600px) {
  .content-wrapper {
    padding-left: 4.21vw;
    padding-right: 4.21vw;
  }
}

@media(min-width: 601px) {
  .content-wrapper {
    padding-left: min(40px, 5.2vw);
    padding-right: min(40px, 5.2vw);
  }
}

@media (max-width: 767px) {
  .section-heading {
    font-size: min(8.42vw, 60px);
  }
}
/* Page styles end */

/* header styles start */
.header {
  padding-top: 19px;
  background-color: var(--background-body);
  font-weight: 600;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  overflow: hidden;
  max-height: 60px;
}

.header__nav-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding-left: 0px;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-link,
.menu-button {
  font-family: 'Inter';
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 600;
  line-height: 150%;
  position: relative;
}

.menu-link-wrapper {
  position: relative;
}

.coffee-cup {
  position: absolute;
  top: 3px;
  right: -1px;
}

.menu-button {
  display: inline-block;
  padding-right: 28px;
  line-height: 32px;
  position: relative;
}

.header__nav-link::after,
.menu-button::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  display: inline-block;
  border-top: 2px solid var(--text-dark);
  transition: all 0.5s ease-out;
  pointer-events: none;
}

.header__nav-link::after {
  scale: 0;
}

.header__nav-link::after {
  bottom: -6px;
}
.menu-button::after {
  bottom: 1px;
}


.header__burger-menu {
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  display: none;
}

.header__burger-menu > span {
  width: 18px;
  height: 2px;
  position: absolute;
  background-color: var(--border-dark);
  transition: all 0.5s ease-out;
}

.header__burger-line-first {
  top: 37%;
  left: 12px;
}

.header__burger-line-second {
  bottom: 37%;
  left: 12px;
}

@media (any-hover: hover) {
  .header__nav-item:hover > .header__nav-link::after {
    scale: 1;
  }
}

@media (max-width: 768px) {
  .header__nav-list {
    display: none;
  }
  
  .menu-link-wrapper {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }
}
/* Header styles end */

/* Offer section styles start */
.offer {
  padding-top: 20px;
  background-color: var(--background-body);
}

.main-heading {
  margin: 0 auto 40px;
  max-width: 800px;
  text-align: center;
  color: var(--text-dark);
  font-family: 'Inter';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.main-heading > span {
  color: var(--text-accent);
  font-style: italic;
}

.offer-tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.tab {
  padding: 8px 16px 7px 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  transition: all 0.5s ease-out;
  overflow: hidden;
  color: var(--text-dark);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.tab.active-tab {
  background-color: var(--background-container);
  color: var(--text-light);
}

.tab-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-right: 11px;
}

.tab-icon-container {
  height: 30px;
  flex-basis: 30px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--border-light);
  transition: all 0.5s ease-out;
}

.tab.active-tab .tab-icon-container {
  background-color: var(--background-body);
}

.tab-text {
  margin: 0;
}

@media (any-hover: hover) {
  .tab:hover {
    background-color: var(--background-container);
    color: var(--text-light);
    cursor: pointer;
  }

  .tab:hover .tab-icon-container {
    background-color: var(--background-body);
  }
}

.cards-container {
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 40px 40px;
}

.card-item {
  flex-basis: 310px;
  max-width: 310px;
  flex-shrink: 0;
  flex-grow: 1;
  border-radius: 40px;
  border: 1px solid var(--border-light);
}

.image-container {
  width: 100%;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  scale: 1.1;
  transition: all 0.5s ease-out;
}

.description-block {
  height: 194px;
  padding: 20px 20px 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--text-dark);
}

.item-name {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.item-description {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.item-price {
  margin-top: auto;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

@media (any-hover: hover) {
.image-item {
  scale: 1.1;
}

  .card-item:hover .image-item {
    scale: 1;
  }

  .card-item:hover {
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .main-heading {
    font-size: min(8.42vw, 60px);
  }
}
/* Offer section styles end */

/* Footer - Contacts - start */
.footer {
  padding-bottom: 40px;
  background-color: var(--background-body);
}

.contacts-container {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-color: var(--background-container);
}

.social-media-block {
  flex-basis: 530px;
  flex-grow: 0;
}

.footer-heading {
  color: var(--text-light);
}

.social-list {
  margin: 0;
  padding: 0;
}

.social-item {
  display: inline-block;
  list-style-type: none;
}

.social-item + .social-item {
  margin-left: 8px;
}

.social-button {
  display: inline-flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-light);
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.social-icon {
  stroke: var(--border-light);
  transition: all 0.5s ease-in;
}

@media (any-hover: hover) {
  .social-button:hover > .social-icon {
    stroke: var(--border-dark);
  }

  .social-button:hover {
    background-color: var(--background-body);
  }
}

.contacts-block {
  flex-basis: 530px;
}

.contact-us-heading {
  margin: 33px 0 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-light);
}

.conatact-us {
  margin: 0;
  padding: 0;
}

.contact-item:first-child {
  margin-top: 40px;
}

.contact-item {
  width: max-content;
  margin-bottom: 20px;
  list-style-type: none;
}

.contact-link,
.contact-item {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-light);
  text-decoration: none;
}

.contact-link,
.contact-item:last-child {
  padding-left: 28px;
}

.contact-link::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: '';
  width: 100%;
  display: inline-block;
  border-top: 2px solid var(--border-light);
  scale: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
}

@media (any-hover: hover) {
  .contact-link:hover::after {
    scale: 1;
  }
}

.pin::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/svg/pin.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.phone::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/svg/phone.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.clock::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/svg/clock.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

@media(max-width: 600px) {
  .contacts-container {
    flex-direction: column;
  }
}

@media(min-width: 601px) {
  .contacts-container {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .contacts-container {
    gap: 100px;
  }
  
  .social-media-block {
    flex: 0 1 auto;
  }
  
  .contacts-block {
    flex: 0 1 auto;
  }

  .contact-us-heading {
    margin-top: 0;
  }

  .contact-item.clock {
    margin-bottom: 4px;
  }
}

@media(min-width: 992px) {
  .contacts-container {
    flex-direction: row;
  }

}

@media(max-width: 1300px) {
  .contacts-container {
    padding-left: min(7.81vw, 100px);
    padding-right: min(7.81vw, 100px);
  }
}

@media(max-width: 640px) {
  .contacts-container {
    padding-top: min(100px, 15.8vw);
    padding-bottom: min(100px, 15.8vw);
    padding-left: 4.21vw;
    padding-right: 4.21vw;
    gap: min(60px, 10.6vw);
  }
}
/* Footer - Contacts - end */
