html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --border-dark: #665f55;
  --border-light: #c1b6ad;
}

html {
  scroll-behavior: smooth;
}

/* Page styles start */
.body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  font-weight: normal;
  color: var(--text-dark);
  background-color: var(--background-body);
}

.content-wrapper {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
/* Page styles end */

/* header styles start */
.header {
  padding-top: 19px;
  background-color: var(--background-body);
  font-weight: 600;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  overflow: hidden;
  max-height: 60px;
}

.header__nav-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding-left: 0px;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-link,
.menu-button__link {
  font-family: 'Inter';
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 600;
}

.menu-button__link {
  display: inline-block;
  line-height: 32px;
}

.menu-button__link::after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/img/svg/coffee-cup.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(2px);
}
/* Header styles end */

/* Hero section styles start */

.hero {
  padding-top: 22px;
  background-color: var(--background-body);
  padding-bottom: 100px;
}

.hero-container {
  padding: 100px;
  background-image: url('../assets/img/img-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 40px;
}

.offer {
  max-width: 530px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}

h1 {
  margin: 0;
  color: var(--text-light);
  font-family: 'Inter';
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

h1 span {
  color: var(--text-accent);
  font-style: italic;
}

.offer-description {
  color: var(--text-light);
  line-height: 150%;
  font-family: 'Inter', sans-serif;
}

.button {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  color: var(--text-dark);
  background-color: var(--background-body);
}

.button-menu {
  padding: 20px 78px;
  font-weight: 600;
  line-height: 150%;
}
/* Hero section styles end */

/* Favorite-coffee section styles start */
.favorite-coffee {
  padding-bottom: 100px;
  background-color: var(--background-body);
}

.section-heading {
  margin: 0 0 40px;
  font-family: 'Inter';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark);
}

.section-heading span {
  color: var(--text-accent);
  font-style: italic;
}

.favorite-coffee-heading {
  text-align: center;
}

.favorite-slider {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.arrow-block {
  display: flex;
  flex-basis: 60px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.slider-button {
  height: 60px;
  flex-basis: 60px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
}

.slide-window {
  overflow: hidden;
  flex-grow: 8;
  display: flex;
  justify-content: center;
}

.slider-card {
  max-width: 480px;
  color: var(--text-dark);
}

.slider-image-container {
  width: 480px;
  height: 480px;
  margin-bottom: 20px;
}

.slide-1 {
  background-image: url(../assets/img/coffee-slider-1.png);
  background-size: contain;
}

.slide-2 {
}

.slide-3 {
}

.drink-name {
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.drink-description {
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.drink-price {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.favorite-slider-state {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
}

.slider-state {
  flex-basis: 40px;
  flex-grow: 0;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-light);
}

.state-active {
  background-color: var(--border-dark);
}
/* Favorite-coffee section styles end */

/* About section styles start */
.about {
  padding-bottom: 100px;
  background-color: var(--background-body);
}

.about-heading {
  letter-spacing: -0.1px;
}

.photo-galery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  height: 1060px;
  overflow: hidden;
}

.image-container {
  overflow: hidden;
  border-radius: 20px;
  width: 660px;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.image-container:hover {
  background-size: 100%;
}

.container-1 {
  background-image: url(../assets/img/about-1.jpg);
  flex-basis: 590px;
  align-self: flex-start;
}
.container-2 {
  background-image: url(../assets/img/about-2.jpg);
  flex-basis: 430px;
  align-self: flex-start;
}

.container-3 {
  background-image: url(../assets/img/about-3.jpg);
  flex-basis: 430px;
}

.container-4 {
  background-image: url(../assets/img/about-4.jpg);
  flex-basis: 590px;
}

/* About section styles end */

/* Mobile section styles start */
.mobile {
  background-color: var(--background-body);
  padding-bottom: 100px;
}

.mobile__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mobile__offer-block {
  flex-basis: 630px;
  flex-grow: 0;
  align-self: center;
}

.mobile__offer-description {
  margin-bottom: 40px;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-dark);
}

.mobile__app-buttons {
}

.mobile__screen-block {
  height: 630px;
  flex-basis: 630px;
  flex-grow: 0;
  background-image: url('../assets/img/mobile-screens.png');
  background-position: center;
  background-size: cover;
}

.mobile-button {
  display: inline-block;
  width: 200px;
  height: 64px;
  padding: 12px 20px 12px;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  margin-right: 16px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.mobile-icon {
  margin-right: 3px;
  transition: all 0.5s ease-in;
  fill: #403f3d;
}

.button-text {
  display: inline-block;
  color: var(--text-dark);
  transition: all 0.5s ease-in;
  overflow: hidden;
}

.text-firstline {
  margin: 0;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.text-secondline {
  margin: 5px 0 0;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

@media (hover: hover) {
  .mobile-button:hover {
    background-color: var(--background-container);
  }

  .mobile-button:hover .mobile-icon {
    fill: #e1d4c9;
  }

  .mobile-button:hover .button-text {
    color: var(--text-light);
  }
}

/* Mobile section styles end */

/* Contacts section styles start */
.footer {
  padding-bottom: 40px;
  background-color: var(--background-body);
}

.contacts-container {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-color: var(--background-container);
}

.offer {
  flex-basis: 530px;
  flex-grow: 0;
}

.footer-heading {
  color: var(--text-light);
}
/* Contacts section styles end */
